body{
    display: grid;
    position: relative;
    min-height: 130vh;
    grid-template-rows: 62% 30% 10%;
    row-gap: 1px;
    background-color: none;
}

.header{
   background-color: darkmagenta;
   display: flex;
   justify-content: center;
}

nav{
    display: grid;
    max-height: 7%;
    width: 73%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "logo store mac ipod iphone ipad itunes support search";
    background-color:white;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    border-radius: 5px;
}

.item-logo{
    grid-area: logo;
}

.item-store{
    grid-area: store;
}

.item-mac{
    grid-area: mac;
}

.item-ipod{
    grid-area: ipod;
}

.item-iphone{
    grid-area: iphone;
}

.item-itunes{
    grid-area: itunes;
}

.item-support{
    grid-area: support;
}

.item-search{
    grid-area: search;
}

.main{
    background-color: cornflowerblue;
}

.footer{
    background-color: darkkhaki;
}
