body{
    display: grid;
    position: relative;
    min-height: 130vh;
    grid-template-rows: 60% 30% 10%;
    row-gap: 1px;
    background-color: none;
}

.header{
   background-color: darkmagenta;
}

.main{
    background-color: cornflowerblue;
}

.footer{
    background-color: darkkhaki;
}
